.main{
    -fx-background-color: #f3ece7;;
 }

 .btn{
     -fx-border-radius: 5px;
     -fx-background-radius: 5px;
     -fx-border-color: #a9a9a9;
     -fx-background-color: none;
     -fx-transition: background-color 0.9s ease-in-out;
 }

 .btn:hover{
     -fx-background-color: #4299ff;
     -fx-cursor: hand;
     -fx-font-weight: 600;
     -fx-text-fill: #FFFFFF;
  }

  .tableBattery{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 12px;
    -fx-font-weight: 600;
    -fx-text-alignment: center;
  }

  .tableBattery-row{
     -fx-font-family: "Times New Roman";
      -fx-font-size: 12px;
      -fx-font-weight: 600;
      -fx-text-alignment: center;
  }

  .table-cell{
    -fx-alignment: center;
  }

  .choiceBox{
      -fx-border-radius: 5px;
      -fx-background-radius: 5px;
      -fx-background-color: none;
      -fx-border-color: #a9a9a9;
      -fx-padding: 3px;
  }

  .choiceBox:hover{
      -fx-background-color: #4299ff;
      -fx-cursor: hand;
      -fx-font-weight: 900;
      -fx-text-fill: #FFFFFF;
  }

  .datePicker{
      -fx-border-radius: 5px;
      -fx-background-radius: 5px;
      -fx-padding: 3px;
  }

  .labelInfo{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 12px;
    -fx-font-weight: 600;
    -fx-text-fill: red;
  }
